<header>
  
  <h1>About MediPocket</h1>
  <p>
    Designed by Medical Doctors and Engineers, MediPocket integrates machine learning and artificial intelligence 
    to help reduce medical non-adherence by providing users with prescription discounts and tools to help them take 
    charge of their health.
  </p>

</header>

<section class="about-medipocket page-padding">
  <img data-src="assets/multi-purpose-person.jpeg" alt="Person doing multiple things at once">
  <section>
    <p>
      We know it’s hard to keep up with your health and the health of your family.
      It feels like a part-time job--keeping up with everyone’s prescriptions,
      paying for them, remembering to take them as directed, managing appointments
      and locating medical records when you need them.
    </p>

    <p>
      Well, what if there was one app that could safely store ALL your family’s personal health records,
      remind you of appointments and prescription refills, save you up to 80% off prescriptions, deliver
      them to your home, check symptoms when you’re feeling ill AND recommend a course of action?
      Now there is.
    </p>

    <p>
      Your Health in Your Pocket. MediPocket was created to help you keep track of what matters
      most - your health. MediPocket helps reduce medical non-adherence
      and provides you with tools to help prevent unnecessary and costly
      trips to urgent care and the emergency room.
    </p>
  </section>
</section>

<section class="mission page-padding">
  <h2 style = 'color: black'>Our Mission</h2>
  <img data-src="assets/group-of-people.jpeg" alt="Group of people standing together">
  <p style = 'text-align: center;'>
    Your Health in Your Pocket, MediPocket is on a mission to help individuals worldwide take control of their
    health by making prescriptions affordable, treatment manageable and personal health data accessible and sharable
    on-demand.
  </p>
</section>

<section class="why page-padding">
  <h2>Why MediPocket</h2>

  <section>
    <div class="desc">
      <p>
        According to the Mayo Clinic, 50% of Americans do not take their medications as prescribed. Referred to as
        “Medical Non-adherence,” MNA is responsible for over 125,000 premature deaths annually and costs the
        healthcare system about $300 Billion a year.
      </p>

      <p>
        What’s the #1 reason we don’t take our medications as prescribed? It’s because we forget. The #2 reason is
        Cost. MediPocket addresses both.
      </p>

      <ul style = 'padding: 0 0 0 14px;'>
        <li>1 in 4 Americans taking prescription meds finds it hard to afford their medications.</li>
        <li>Causing decreased adherence to treatment </li>
        <li>And ineffective treatment and over and over 125,000 premature deaths in the U.S. each year.</li>
      </ul>

    </div>

    <img data-src="assets/why-medipocket.png" alt="Why MediPocket image">
  </section>
</section>

<section class="founder page-padding">
  <h3>
    <img alt = 'MediPocket Logo inside header' data-src="assets/img/logo-.png" style = 'margin-right: 10px'>
     Comes from the Heart
  </h3>

  <div class="desc">
    <div class="img-and-label">
      <img data-src="assets/founder.jpg" style = 'display: block' alt="Picture of Priyanka Mathur, CEO of MediPocket">
      <p>Dr. Priyanka Mathur, Founder & CEO</p>
    </div>
   
    <p>
      Dr. Priyanka Mathur believes that every individual and family desires to take charge of their health—but
      often lack the time, money and tools.
      <br><br>
      After experiencing the constant frustration of having to pay for over-priced prescription medication, along
      with the struggle of trying to keep track of all her family’s prescriptions, appointments— and the lost time
      and money spent ordering medical records and duplicate lab tests— Priyanka knew there were millions of
      others with the same issues—so she decided to tackle these challenges head-on.
      <br><br>
      The outcome: MediPocket. Your Health in Your Pocket, MediPocket is a tool that empowers individuals and
      entire families, by making prescriptions affordable, treatment manageable and personal/family health data
      accessible and sharable on-demand.
    </p>
  </div>
</section>

<section class="media-interview">
  <h2>Here what others are saying!</h2>

  <div class="scrolling-interviews">
    <div class="interview">
      <img src="assets/logos/scale_health.png" alt="Scale Health Logo">
      <p>
        MediPocket helps those in need access their medications at
        affordable prices while social distancing.
        Interview with ScaleHealth
      </p>
    </div>

    <div class="interview">
      <img src="assets/logos/scale_health.png" alt="Scale Health Logo">
      <p>
        MedTech Strategist List of Startups Shifting Operations to Combat COVID-19
      </p>
    </div>
  </div>

</section>
