<div class="contact-wrap">
  <div class="container" style="max-width: 100% !important;">
    <div class="row col-12 p-0 m-0 text-center">
      <h3 class="my-5 col-12 text-dark">MEDIA</h3>

      <div class="col-lg-6 box_logo">


        <div class="row col-12 text-left m-0 p-0 mb-5 ">
          <div class="col-md-10 col-12">
            <p class="text-left text-dark font-weight-bold">MediPocket Blog</p>
            Stay up-to-date with information and tips to help you take charge of your health!
            <br>
            <a class="readMore" href="https://medipocketblog.wordpress.com/">Read More ...</a>
          </div>
        </div>

        <div class="row col-12 text-left m-0 p-0 mb-5">
          <div class="col-md-10 col-12">
            <p class="text-left text-dark font-weight-bold">Press Releases</p>
            Read the latest MediPocket news in our News Room.
            <br>
            <a class="readMore" href="https://medipocketblog.wordpress.com/press">Read More ...</a>
          </div>
        </div>

      </div>


      <div class="col-lg-6 box_logo">
        <p class="row col-12 text-left text-dark font-weight-bold my-5"> VIDEOS</p>

        <div class="row col-12 text-left m-0 p-0 mb-5 ">
          <p class="col-12 mb-1 text-left text-dark font-weight-bold">Introducing: MediPocket Rx Savings Card</p>
          <div class="col-12">
            <iframe width="100%" height="160" src="https://www.youtube.com/embed/F0Z_X3RMtW8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

        <div class="row col-12 text-left m-0 p-0 mb-5 ">
          <p class="col-12 mb-1 text-left text-dark font-weight-bold">
            MediPocket Website Rx Price Search Tutorial
          </p>
          <div class="col-12">
            <iframe width="100%" height="160" src="https://www.youtube.com/embed/OJauAGbhcII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

        <div class="row col-12 text-left m-0 p-0 mb-5 ">
          <p class="col-12 mb-1 text-left text-dark font-weight-bold">
            My HealthPocket: Your Family’s Health Records--All In One Place
          </p>
          <div class="col-12">
            <iframe width="100%" height="160" src="https://www.youtube.com/embed/_SF493oMMNI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

        <div class="row col-12 text-left m-0 p-0 mb-5 ">
          <p class="col-12 mb-1 text-left text-dark font-weight-bold">How MediPocket Saves You Money
          </p>
          <div class="col-12">
            <iframe width="100%" height="160" src="https://www.youtube.com/embed/_SF493oMMNI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
