.active-link {
	color: #00d1b2 !important;
	font-weight: 600;
}

.bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background: white;
    z-index: 10;
}

.big-bar {
    display: none;
}

.navbar-brand img {
    padding: 10px;
    width: 150px;
}

.links a {
    color: #777777;
    cursor: pointer;
}

.drop-links {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    top: 63.75px;
    background: white;
    z-index: 10;
    padding: 0 20px;
}

.shown.drop-links {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.drop-links a {
    display: block;
    padding: 5px 0;
}

.covid-banner {
    position: absolute;
    top: 63.75px;
    background: white;
    color: black;
    width: 100%;
    z-index: 5;
    text-align: center;
    position: relative;
    padding: 10px 0;
}

.covid-banner span {
    text-decoration: underline;
    color: #00d1b2;
    cursor: pointer;
}

.fa-window-close {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
    width: 30px;
}

.hf-iframe {
    border: 0;
    height: 90vh;
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .bar {
        display: none;
    }

    .big-bar {
        display: flex;
        background: white;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100vw;
        padding: 20px 5vw;
        top: 0;
        z-index: 10;
    }

    .big-bar a {
        padding: 0 10px;
    }

    .covid-banner {
        top: 93.75px;
    }
}