<h1 style = 'padding: 40px 0'>MediPocket - Features</h1>

<section class="slogan">
  <img class='slogan-logo' src="assets/img/delbg.gif" alt="Person holding phone with MediPocket login screen">
  <section class="slogan-desc">
    <h3>Your Health in your Pocket</h3>
    <img data-src="assets/green_logo.png" alt="Green MediPocket Logo">
    <p>
      MediPocket is your virtual health companion
      that helps you save money on prescriptions, stay on track with your medications, check symptoms and safely store
      and share your personal/family health records with whom you want, when you want
    </p>
  </section>
</section>

<section class="discount">
  <h2>MediPocket Discount: How It Works</h2>
  <iframe title = 'MediPocket Discount: How It Works' data-src="https://www.youtube.com/embed/F0Z_X3RMtW8?portrait=1&amp;color=333&amp;autoplay=1&amp;mute=1"
    frameborder="0" allowfullscreen="">
  </iframe>

  <h4>
    Save up to 80% on Rx <br>
    Download our free app today
  </h4>

  <div class="download-apps">
    <a href="https://play.google.com/store/apps/details?id=com.medipocket.newpatient">
      <img alt="android play store image" data-src="assets/android-download.png">
    </a>
    <a href="https://apps.apple.com/us/app/medipocket-rx-saving-on-demand/id1468232750">
      <img alt="App store image" data-src="assets/download-appstore.png">
    </a>
  </div>

</section>

<section class='delivery-form'>
  <h2 class='text-center'>For Same Day Rx Delivery, Contact us Today!</h2>
  <p class='text-center mb-0 mt-3'>Individuals seeking local delivery</p>
  <p class='text-center mt-0'>Pharmacies seeking to power same day delivery from your store or website</p>

  <section class="form-and-img">
    <form>
      <label for="name">
        <span>Name:</span> 
        <input placeholder='Name' type="text" [(ngModel)]='name' id='name' name='name'> 
      </label>
      
      <label>
        <span>City:</span>
        <input placeholder='City' type="text" [(ngModel)]='city' id='city' name='city'>
      </label>

      <label>
        <span>Email:</span>
        <input placeholder='E-mail' type="email" [(ngModel)]='email' id='email' name='email'>
      </label>

      <label>
        <span>Message:</span>
      <textarea placeholder='Your message' type="text" [(ngModel)]='message' id='message' name='message'></textarea>
      </label>

      <button class = 'btn btn-lg btn-success' style = 'color: black; display: block; margin: 0 auto' (click) = 'contactHome()' type='submit'>Submit</button>

    </form>

   
    <img data-src="assets/flyer.jpg" alt="Delivery Flyer">
  </section>
</section>

<section class="pet-rx">
  <section class="desc">
    <h2 class = 'text-center' style = 'color: red;'>Pet Medication Savings</h2>
    <p class = 'text-center'>Because Man's best friend deserves benefits too! </p>

    <p>
      Unfortunately, pets have many of the same health issues as humans. Those common conditions include
      <strong>
        Diabetes, Arthritis, High Blood Pressure, Allergies, Thyroid Disorders, Gastrointestinal Conditions, Mental Health, Genetic Diseases and more.
      </strong>
      . And because pets have the same health issues as humans, the medications prescribed by a veterinarian is often the same meds prescribed for people. The only difference is the price at the veterinarian practice could be as much as five times more than at a retail pharmacy. 

    </p>

    <h2 class = 'text-center' style = 'color: red;'>Need Help Affording your Pet's Medication?</h2>

    <p>If your pet is prescribed a medication that has a <strong>human equivalent</strong>, we can help! The
      MediPocket pet program can provide discounts up to <strong>87% off generic and up to 20% off brand pet
        drugs</strong>.
      While certain pet medications are animal-specific, many are the same as those taken by humans. And, anytime
      your pet is prescribed one of these drugs, you can have it filled at a local retail pharmacy and receive
      the same MediPocket discounts a human would.
    </p>

  </section>

  <section class="savings">
    <img class = 'cat-and-dog' data-src="assets/cat-and-dog.png" alt="Image of a cat and a dog">

    <h2 class = 'text-center' style = ' margin: 40px 0; padding-top: 20px; border-top: 4px solid red'>Recent Member's Pet Savings</h2>

    <table>
      <tr>
        <td>Medication</td>
        <td>GABAPENTIN 600 MG TABLET</td>
      </tr>
      <tr>
        <td>Count</td>
        <td>90</td>
      </tr>
      <tr>
        <td>Retail</td>
        <td>$189.99</td>
      </tr>
      <tr>
        <td>Paid</td>
        <td>$28.21</td>
      </tr>
      <tr>
        <td>Savings</td>
        <td>%161.78 (80%)</td>
      </tr>
      <tr>
        <td>Pharmacy</td>
        <td><img data-src="assets/logos/riteaid2.svg" alt="Rite Aid Pharmacy Logo" style = 'height: 20px;'></td>
      </tr>
      <tr>
        <td>Location</td>
        <td>San Diego, CA</td>
      </tr>
    </table>
  </section>

</section>

<section class="healthpocket">
  <img style='padding: 10px;' class='family-img' data-src="assets/family.jpeg" alt="family">
  <div class="desc">
    <h2>My HealthPocket</h2>
    <img class='green-logo' data-src="assets/green_logo.png" alt="Green Logo">
    <h3>Your family's health records, stored in one, safe place + much more</h3>
    <p>
      What if there was one app that could safely store your family’s personal health records,
      remind you of appointments and prescription refills, save you up to 80% off prescriptions,
      deliver them to your home, check symptoms when you’re feeling ill AND recommend a course of action?
      Well, now there is.
    </p>
  </div>
</section>

<section class="virtual-companion">

  <h2>Your Virtual Health Companion</h2>

  <section class="points">

    <div class="point">
      <img data-src="assets/cropped_hand.jpeg" alt="Hand">
      <div class="desc">
        <p class='bold'>MediPocket Helps You Remember</p>
        <p>
          With Medipocket's pill reminders and prescription refill reminders,
          you don't have to worry about forgetting when it's time for you,
          your spouse or your child to take their medication.
        </p>
      </div>

    </div>

    <div class="point">
      <img data-src="assets/red-alert-circle.jpeg" alt="Red Alert Circle">
      <div class="desc">
        <p class='bold'>Warnings When you Need it</p>
        <p>
          When your prescriptions are stored in MediPocket,
          you will receive a notification of potential adverse
          medication interactions. This information empowers you
          ask the right questions and get answers-before it's too late.
        </p>
      </div>
    </div>

    <div class='video'>
      <iframe title = 'Personal Health Records when You Need Them' data-src="https://www.youtube.com/embed/sNshIKent5Q" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>

      <div class="desc">
        <p class='bold'>Your Personal Health Records when YOU need them</p>
        <p>
          Stop waiting on health records to arrive from previous providers.
          Stop paying for lab work—a second time—simply because you don't
          have your health records to show your most recent results.
        </p>
      </div>
    </div>

  </section>

</section>

<section class="dr-ai">
  <h2>Dr. AI by your side</h2>
  <img alt="logo img" class="mb-3 border-o bg-none text-center p-0" data-src="assets/green_logo.png">
  <p>
    With MediPocket, when you're feeling ill and want to check your symptoms, Dr AI —powered by AI (Artificial
    Intelligence —knows your medical history and has access to your stored medical records—thereby offering
    you an informed analysis based on the credited medical library and YOUR data. Plus, Dr. AI will recommend
    next steps).
  </p>
</section>