header {
  padding: 40px 20px 20px 20px;
  text-align: center;
  margin-bottom: 64px;
}

main {
  padding: 0 5vw;
}

section {
  margin-bottom: 24px;
}

.tele-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(3, minmax(75px, auto));
  column-gap: 20px;
  row-gap: 20px;
  place-content: center;
}

.prescript-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  place-content: center;
}

.tele-logos a, .prescription a {
  // border: 1px solid #ddd;
  // border: 1px solid red;
  display: grid;
  place-items: center;
}

a img {
  padding: 10px;
}

.booklets {
  display: grid;
  padding: 10px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.booklets img {
  margin: 10px auto;
  width: 75%;
}

@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
  }

  .tele-logos {
    grid-template-columns: 20vw 20vw
  }

  .prescript-logos {
    grid-template-columns: 20vw 20vw
  }
}
