<header>
  <h2>MediPocket Resource Pocket</h2>
  <h5> One-stop Solution for Your Care</h5>
</header>

<main>
  <section class="telehealth">
    <h3>TeleHealth</h3>
    <div class="tele-logos">
      <a aria-label = 'Dr. On Demand' href="https://www.doctorondemand.com/"><img alt = 'Dr. On Demand' data-src="assets/logos/dr-on-demand.png" ></a>
      <a aria-label = 'MD Live' href="https://www.mdlive.com/"><img alt = 'MD Live' data-src="assets/logos/mdlive.jpeg" ></a>
      <a aria-label = 'TelaDoc' href="https://www.teladoc.com/"><img alt = 'TelaDoc' href data-src="assets/logos/teladoc.png" ></a>
      <a aria-label = 'One Medical' href="https://www.onemedical.com/"><img alt = 'One Medical' data-src="assets/logos/one-medical.png" ></a>
      <a aria-label = 'Lemonaid Health' href="https://www.lemonaidhealth.com/" class="box_logo "><img alt = 'Lemonaid Health' data-src="assets/logos/lemonaid.png" ></a>
      <a aria-label = 'For Hims' href="https://www.forhims.com/"><img alt = 'For Hims' data-src="assets/logos/hims.png" ></a>
      <a aria-label = 'Plush Care' href="https://plushcare.com/"><img alt = 'Plush Care' data-src="assets/logos/plushcare.png" ></a>
      <a aria-label = 'For Hers' href="https://www.forhers.com/"><img alt = 'For Hers' data-src="assets/logos/hers.png" ></a>
      <a aria-label = 'Health Tap' href="https://www.healthtap.com/"><img alt = 'Health Tap' data-src="assets/logos/healthtap.jpeg" ></a>
    </div>
  </section>

  <section class="prescription">
    <h3> Prescription/Refill</h3>
    <div class="prescript-logos">
      <a aria-label = 'Call On Doc' href="https://callondoc.com/en/home"><img alt = 'Call On Doc' data-src="assets/logos/call-on-doc.png" ></a>
      <a aria-label = 'Medici' href="https://www.medici.md/"><img alt = 'Medici' data-src="assets/logos/medici.png" ></a>
      <a aria-label = 'NuRx' href="https://www.nurx.com/"><img alt = 'NuRx' data-src="assets/logos/nurx.png" ></a>
      <a aria-label = 'Sydney Care' href="https://sydneycare.ai/"><img alt = 'Sydney Care' data-src="assets/logos/sydney-care.png" ></a>
      <a aria-label = 'Care Fertility' href="https://www.carefertility.com/"><img alt = 'Care Fertility' data-src="assets/logos/care-fertility.png" ></a>
    </div>
  </section>
</main>

<section class="same-day">
  <h3> Same Day Rx Delivery</h3>
  <div class="booklets">
    <img alt = 'On-demand Medicine Delivery Services across the US' class = 'booklet' data-src="assets/flyer.jpg" >
    <img alt = 'Get Fast Delivery Of Medicines by Quick Sign up' class = 'booklet' data-src="assets/img/Brochure-Medipocket-Page-5.jpg" >
  </div>
</section>
