<div mat-dialog-title>
  <h4 cdkFocusInitial >Download our App!</h4>
  <button style = 'padding-left: 20px' type="button" class="close" aria-label="Close" mat-dialog-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div mat-dialog-actions>
  <a href="https://play.google.com/store/apps/details?id=com.medipocket.newpatient" target="_blank">
    <img src="assets/android-download.png" style = 'max-width: 200px'/>
  </a>
  <a href="https://apps.apple.com/us/app/medipocket-rx-saving-on-demand/id1468232750" target="_blank">
    <img src="assets/download-appstore.png" style = 'max-width: 200px'/>
  </a>
</div>