@import '~@angular/material/theming';
@include cdk-a11y();
@include cdk-overlay();
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);
@include mat-core-theme($candy-app-theme);
@include mat-dialog-theme($candy-app-theme);
@include mat-progress-spinner-theme($candy-app-theme);

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

button span {
	color: black !important;
}

img {
	max-width: 100%;
	height: auto;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

a,
button {
  margin-bottom: 0px;
  line-height: 24px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#map {
  width: 100%;
  height: 500px;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
}

.contact-wrap {
  padding: 116px 0px 90px;
}

.green  {
  color: #00d1b2;
  text-shadow: 1px 1px 4px #48514f;
}

.btn-success {
	color: black;
	background-color: #00d1b2 !important;
	border-color:#faf9f76b !important;
}

a:hover {
	text-decoration: none
}

.primary {
	background: #00d1b2;
	color: black !important;
}

.accent {
	background: #dc3545;
	color: white;
}

.bold { font-weight: 500; }

.cdk-global-scrollblock {
    position: initial;
    width: initial;
    overflow: hidden;
}

.page-padding {
	padding: 20px 5vw;
}

.cust-dialog {
	max-width: 100vw !important;
	width: 80vw;
}

.small-padding .mat-dialog-container {
	padding: 8px;
}

.dialog-top {
	position: fixed !important;
	top: 40px;
}

@media screen and (min-width: 1000px) {
	.page-padding {
		padding: 20px 10vw;
	}

	.cust-dialog {
		width: 60vw;
	}
}

@media (max-width:1199.98px) {
	.contact-wrap {
	  padding: 112px 0px 90px;
	}
  }
  
  @media (max-width:575.98px) {
	.contact-wrap {
	  padding: 108px 0px 90px;
	}
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
